body{
    margin:0;
}

 #background{
    width: 120vw;
    height: 120vh;
    left:0;
    right:0;
    top:0;
    margin: 0 auto;
    position: fixed;
    z-index:-1 ;
    background-color: brown;
    
} 
#board{
    display:flex;
    left:0;
    right:0;
    height:90vh;
    width: 90vw;
    margin:5vh auto;
}

#pointer {
    width: 150px;
    height: auto;
    position: relative;
    transform-origin: center 110px;
    display: block;
    margin: 0 auto;
    touch-action: none;
}

